<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Booter</key>
	<dict>
		<key>MmioWhitelist</key>
		<array/>
		<key>Quirks</key>
		<dict>
			<key>EnableWriteUnprotector</key>
			<true/>
			<key>EnableSafeModeSlide</key>
			<true/>
			<key>SignalAppleOS</key>
			<false/>
			<key>ProtectUefiServices</key>
			<false/>
			<key>AvoidRuntimeDefrag</key>
			<true/>
			<key>DiscardHibernateMap</key>
			<false/>
			<key>DevirtualiseMmio</key>
			<true/>
			<key>SyncRuntimePermissions</key>
			<true/>
			<key>ProvideCustomSlide</key>
			<true/>
			<key>DisableSingleUser</key>
			<false/>
			<key>ForceExitBootServices</key>
			<false/>
			<key>ProtectSecureBoot</key>
			<false/>
			<key>DisableVariableWrite</key>
			<false/>
			<key>SetupVirtualMap</key>
			<true/>
			<key>ProtectMemoryRegions</key>
			<false/>
			<key>RebuildAppleMemoryMap</key>
			<true/>
		</dict>
	</dict>
	<key>Misc</key>
	<dict>
		<key>Security</key>
		<dict>
			<key>BootProtect</key>
			<string>None</string>
			<key>AuthRestart</key>
			<false/>
			<key>Vault</key>
			<string>Optional</string>
			<key>AllowNvramReset</key>
			<true/>
			<key>ScanPolicy</key>
			<integer>0</integer>
			<key>HaltLevel</key>
			<integer>2147483648</integer>
			<key>AllowSetDefault</key>
			<true/>
			<key>ExposeSensitiveData</key>
			<integer>6</integer>
		</dict>
		<key>Boot</key>
		<dict>
			<key>TakeoffDelay</key>
			<integer>0</integer>
			<key>HideAuxiliary</key>
			<false/>
			<key>HideSelf</key>
			<true/>
			<key>PollAppleHotKeys</key>
			<false/>
			<key>Timeout</key>
			<integer>5</integer>
			<key>HibernateMode</key>
			<string>None</string>
			<key>ShowPicker</key>
			<true/>
			<key>PickerAttributes</key>
			<integer>1</integer>
			<key>PickerAudioAssist</key>
			<false/>
			<key>PickerMode</key>
			<string>Builtin</string>
			<key>ConsoleAttributes</key>
			<integer>0</integer>
		</dict>
		<key>Entries</key>
		<array/>
		<key>Tools</key>
		<array/>
		<key>Debug</key>
		<dict>
			<key>AppleDebug</key>
			<true/>
			<key>DisplayDelay</key>
			<integer>0</integer>
			<key>DisplayLevel</key>
			<integer>2147483650</integer>
			<key>Target</key>
			<integer>0</integer>
			<key>DisableWatchDog</key>
			<false/>
		</dict>
		<key>BlessOverride</key>
		<array/>
	</dict>
	<key>Kernel</key>
	<dict>
		<key>Emulate</key>
		<dict/>
		<key>Quirks</key>
		<dict>
			<key>AppleXcpmCfgLock</key>
			<false/>
			<key>DisableRtcChecksum</key>
			<false/>
			<key>DisableIoMapper</key>
			<true/>
			<key>DummyPowerManagement</key>
			<false/>
			<key>LapicKernelPanic</key>
			<false/>
			<key>PanicNoKextDump</key>
			<true/>
			<key>AppleCpuPmCfgLock</key>
			<false/>
			<key>IncreasePciBarSize</key>
			<false/>
			<key>AppleXcpmExtraMsrs</key>
			<false/>
			<key>CustomSMBIOSGuid</key>
			<true/>
			<key>PowerTimeoutKernelPanic</key>
			<true/>
			<key>ThirdPartyDrives</key>
			<false/>
			<key>ExternalDiskIcons</key>
			<false/>
			<key>XhciPortLimit</key>
			<false/>
			<key>AppleXcpmForceBoost</key>
			<false/>
		</dict>
		<key>Block</key>
		<array/>
		<key>Patch</key>
		<array/>
		<key>Add</key>
		<array>
			<dict>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/Lilu</string>
				<key>BundlePath</key>
				<string>Lilu.kext</string>
			</dict>
			<dict>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VirtualSMC</string>
				<key>BundlePath</key>
				<string>VirtualSMC.kext</string>
			</dict>
			<dict>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/WhateverGreen</string>
				<key>BundlePath</key>
				<string>WhateverGreen.kext</string>
			</dict>
			<dict>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooGPIO</string>
				<key>BundlePath</key>
				<string>VoodooI2C.kext/Contents/PlugIns/VoodooGPIO.kext</string>
			</dict>
			<dict>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooI2CServices</string>
				<key>BundlePath</key>
				<string>VoodooI2C.kext/Contents/PlugIns/VoodooI2CServices.kext</string>
			</dict>
			<dict>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<false/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooInput</string>
				<key>BundlePath</key>
				<string>VoodooI2C.kext/Contents/PlugIns/VoodooInput.kext</string>
			</dict>
			<dict>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooI2C</string>
				<key>BundlePath</key>
				<string>VoodooI2C.kext</string>
			</dict>
			<dict>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooI2CHID</string>
				<key>BundlePath</key>
				<string>VoodooI2CHID.kext</string>
			</dict>
			<dict>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooPS2Controller</string>
				<key>BundlePath</key>
				<string>VoodooPS2Controller.kext</string>
			</dict>
			<dict>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooPS2Keyboard</string>
				<key>BundlePath</key>
				<string>VoodooPS2Controller.kext/Contents/PlugIns/VoodooPS2Keyboard.kext</string>
			</dict>
			<dict>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/NoTouchID</string>
				<key>BundlePath</key>
				<string>NoTouchID.kext</string>
			</dict>
			<dict>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/SMCBatteryManager</string>
				<key>BundlePath</key>
				<string>SMCBatteryManager.kext</string>
			</dict>
			<dict>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/SMCProcessor</string>
				<key>BundlePath</key>
				<string>SMCProcessor.kext</string>
			</dict>
			<dict>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/SMCSuperIO</string>
				<key>BundlePath</key>
				<string>SMCSuperIO.kext</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>BundlePath</key>
				<string>USBPorts.kext</string>
			</dict>
			<dict>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/NVMeFix</string>
				<key>BundlePath</key>
				<string>NVMeFix.kext</string>
			</dict>
			<dict>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/CPUFriend</string>
				<key>BundlePath</key>
				<string>CPUFriend.kext</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>BundlePath</key>
				<string>CPUFriendDataProvider.kext</string>
			</dict>
			<dict>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/HibernationFixup</string>
				<key>BundlePath</key>
				<string>HibernationFixup.kext</string>
			</dict>
			<dict>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/AppleALC</string>
				<key>BundlePath</key>
				<string>AppleALC.kext</string>
			</dict>
			<dict>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<false/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/CodecCommander</string>
				<key>BundlePath</key>
				<string>CodecCommander.kext</string>
			</dict>
		</array>
	</dict>
	<key>NVRAM</key>
	<dict>
		<key>LegacyOverwrite</key>
		<false/>
		<key>LegacyEnable</key>
		<false/>
		<key>Block</key>
		<dict>
			<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
			<array>
				<string>boot-args</string>
				<string>csr-active-config</string>
			</array>
			<key>4D1EDE05-38C7-4A6A-9CC6-4BCCA8B38C14</key>
			<array>
				<string>UIScale</string>
				<string>DefaultBackgroundColor</string>
			</array>
			<key>4D1FDA02-38C7-4A6A-9CC6-4BCCA8B30102</key>
			<array>
				<string>rtc-blacklist</string>
			</array>
		</dict>
		<key>WriteFlash</key>
		<true/>
		<key>Add</key>
		<dict>
			<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
			<dict>
				<key>boot-args</key>
				<string>keepsyms=1 brcmfx-country=#a agdpmod=vit9696 darkwake=1 -wegnoegpu</string>
				<key>prev-lang:kbd</key>
				<data>enGB</data>
				<key>SystemAudioVolume</key>
				<data>Rg==</data>
				<key>csr-active-config</key>
				<data>5wMAAA==</data>
			</dict>
			<key>4D1EDE05-38C7-4A6A-9CC6-4BCCA8B38C14</key>
			<dict>
				<key>UIScale</key>
				<data>Ag==</data>
				<key>DefaultBackgroundColor</key>
				<data>AAAAAA==</data>
			</dict>
			<key>4D1FDA02-38C7-4A6A-9CC6-4BCCA8B30102</key>
			<dict>
				<key>rtc-blacklist</key>
				<data></data>
			</dict>
		</dict>
	</dict>
	<key>UEFI</key>
	<dict>
		<key>Output</key>
		<dict>
			<key>Resolution</key>
			<string>Max</string>
			<key>IgnoreTextInGraphics</key>
			<false/>
			<key>SanitiseClearScreen</key>
			<true/>
			<key>TextRenderer</key>
			<string>BuiltinGraphics</string>
			<key>ConsoleMode</key>
			<string></string>
			<key>DirectGopRendering</key>
			<false/>
			<key>DirectGopCacheMode</key>
			<string></string>
			<key>ProvideConsoleGop</key>
			<true/>
			<key>ReconnectOnResChange</key>
			<false/>
			<key>ClearScreenOnModeSwitch</key>
			<false/>
			<key>ReplaceTabWithSpace</key>
			<false/>
		</dict>
		<key>ConnectDrivers</key>
		<true/>
		<key>APFS</key>
		<dict>
			<key>MinVersion</key>
			<integer>0</integer>
			<key>MinDate</key>
			<integer>0</integer>
			<key>EnableJumpstart</key>
			<true/>
			<key>HideVerbose</key>
			<true/>
			<key>JumpstartHotPlug</key>
			<false/>
		</dict>
		<key>Audio</key>
		<dict>
			<key>MinimumVolume</key>
			<integer>20</integer>
			<key>AudioOut</key>
			<integer>0</integer>
			<key>VolumeAmplifier</key>
			<integer>0</integer>
			<key>AudioCodec</key>
			<integer>0</integer>
			<key>PlayChime</key>
			<false/>
			<key>AudioDevice</key>
			<string>PciRoot(0x0)/Pci(0x1f,0x3)</string>
			<key>AudioSupport</key>
			<false/>
		</dict>
		<key>Quirks</key>
		<dict>
			<key>ReleaseUsbOwnership</key>
			<false/>
			<key>IgnoreInvalidFlexRatio</key>
			<false/>
			<key>ExitBootServicesDelay</key>
			<integer>0</integer>
			<key>UnblockFsConnect</key>
			<false/>
			<key>RequestBootVarFallback</key>
			<true/>
			<key>RequestBootVarRouting</key>
			<true/>
		</dict>
		<key>Input</key>
		<dict>
			<key>PointerSupport</key>
			<false/>
			<key>KeySupportMode</key>
			<string>Auto</string>
			<key>PointerSupportMode</key>
			<string></string>
			<key>KeySupport</key>
			<true/>
			<key>TimerResolution</key>
			<integer>50000</integer>
			<key>KeyMergeThreshold</key>
			<integer>2</integer>
			<key>KeySwap</key>
			<false/>
			<key>KeyForgetThreshold</key>
			<integer>5</integer>
			<key>KeyFiltering</key>
			<false/>
		</dict>
		<key>ReservedMemory</key>
		<array/>
		<key>ProtocolOverrides</key>
		<dict>
			<key>HashServices</key>
			<false/>
			<key>UnicodeCollation</key>
			<false/>
			<key>OSInfo</key>
			<false/>
			<key>AppleSmcIo</key>
			<false/>
			<key>DataHub</key>
			<false/>
			<key>AppleBootPolicy</key>
			<false/>
			<key>AppleImageConversion</key>
			<false/>
			<key>AppleRtcRam</key>
			<false/>
			<key>AppleAudio</key>
			<false/>
			<key>DeviceProperties</key>
			<false/>
			<key>AppleUserInterfaceTheme</key>
			<false/>
			<key>FirmwareVolume</key>
			<false/>
			<key>AppleEvent</key>
			<false/>
			<key>AppleDebugLog</key>
			<false/>
			<key>AppleKeyMap</key>
			<false/>
		</dict>
		<key>Drivers</key>
		<array>
			<string>VBoxHfs.efi</string>
			<string>OpenRuntime.efi</string>
		</array>
	</dict>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
			<dict>
				<key>layout-id</key>
				<integer>28</integer>
				<key>no-controller-patch</key>
				<integer>1</integer>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>Comment-layout-id</key>
				<string>AppleALC layout-id for ALC298 (ALC3266 according to Dell) audio</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>enable-lspcon-support</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con3-has-lspcon</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con2-alldata</key>
				<data>AgYJAAAEAACHAQAA</data>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-unifiedmem</key>
				<data>AAAAgA==</data>
				<key>framebuffer-portcount</key>
				<data>BAAAAA==</data>
				<key>disable-external-gpu</key>
				<data>AQAAAA==</data>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>enable-hdmi-dividers-fix</key>
				<data>AQAAAA==</data>
				<key>enable-dpcd-max-link-rate-fix</key>
				<data>AQAAAA==</data>
				<key>enable-hdmi20</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con3-alldata</key>
				<data>AwQKAAAIAACHAQAA</data>
				<key>AAPL,ig-platform-id</key>
				<data>AACbPg==</data>
				<key>framebuffer-con1-alldata</key>
				<data>AQUJAAAEAACHAQAA</data>
				<key>framebuffer-con3-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con2-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-enable</key>
				<data>AQAAAA==</data>
				<key>dpcd-max-link-rate</key>
				<data>FAAAAA==</data>
			</dict>
		</dict>
		<key>Block</key>
		<dict/>
	</dict>
	<key>ACPI</key>
	<dict>
		<key>Quirks</key>
		<dict>
			<key>ResetLogoStatus</key>
			<false/>
			<key>RebaseRegions</key>
			<false/>
			<key>ResetHwSig</key>
			<false/>
			<key>NormalizeHeaders</key>
			<false/>
			<key>FadtEnableReset</key>
			<false/>
		</dict>
		<key>Block</key>
		<array/>
		<key>Patch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>QlJUNgI=</data>
				<key>Replace</key>
				<data>QlJUWAI=</data>
				<key>Enabled</key>
				<true/>
				<key>Comment</key>
				<string>Rename BRT6 to BRTX( Pair with SSDT-PNLF_BRT6.aml)</string>
			</dict>
			<dict>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>ReplaceMask</key>
				<data></data>
				<key>Replace</key>
				<data>WldBSwE=</data>
				<key>Comment</key>
				<string>_WAK to ZWAK (paired with SSDT-PTSWAK)</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Find</key>
				<data>X1dBSwE=</data>
				<key>TableSignature</key>
				<data>AAAAAA==</data>
				<key>Enabled</key>
				<true/>
				<key>Limit</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>ReplaceMask</key>
				<data></data>
				<key>Replace</key>
				<data>WlBUUwE=</data>
				<key>Comment</key>
				<string>_PTS to ZPTS (paired with SSDT-PTSWAK)</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Find</key>
				<data>X1BUUwE=</data>
				<key>TableSignature</key>
				<data>AAAAAA==</data>
				<key>Enabled</key>
				<true/>
				<key>Limit</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Change OSID to XSID (to avoid match against _OSI XOSI patch)</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>T1NJRA==</data>
				<key>Replace</key>
				<data>WFNJRA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Change _OSI to XOSI, use wi SSDT th-XOSI.aml</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>X09TSQ==</data>
				<key>Replace</key>
				<data>WE9TSQ==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Change ECDV to EC (so Mac OS knows about the Embedded Controller)</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>RUNEVg==</data>
				<key>Replace</key>
				<data>RUNfXw==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Change HDAS to HDEF (needed for audio?????)</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>SERBUw==</data>
				<key>Replace</key>
				<data>SERFRg==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>rename HPET to XPET,  pair with SSDT-HPET.aml</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>SFBFVA==</data>
				<key>Replace</key>
				<data>WFBFVA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Rename method GPRW to YPRW and use with SSDT-UPRW.aml to fix USB instant wake on sleep</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>FEAGR1BSVwI=</data>
				<key>Replace</key>
				<data>FEAGWVBSVwI=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Rename method UPRW to XPRW and use with SSDT-UPRW.aml to fix USB instant wake on sleep</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>FBJVUFJXAHA=</data>
				<key>Replace</key>
				<data>FBJYUFJXAHA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Device AC rename to ADP1  pair with SSDT-ADP1 - credit syscl</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>QUNfXw==</data>
				<key>Replace</key>
				<data>QURQMQ==</data>
			</dict>
		</array>
		<key>Add</key>
		<array>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Comment</key>
				<string>Fake EC and USB, needed for catalina</string>
				<key>Path</key>
				<string>SSDT-EC-USBX-LAPTOP.aml</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Comment</key>
				<string>Allows for native CPU power management on Haswell and newer</string>
				<key>Path</key>
				<string>SSDT-PLUG-DRTNIA.aml</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Comment</key>
				<string>Touchpad GPI0 mode</string>
				<key>Path</key>
				<string>SSDT-TPDX.aml</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Comment</key>
				<string>This SSDT reports the system is Windows 2015 (Windows 10)</string>
				<key>Path</key>
				<string>SSDT-XOSI.aml</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Comment</key>
				<string>Solving instant wake by hooking GPRW or UPRW</string>
				<key>Path</key>
				<string>SSDT-UPRW.aml</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Comment</key>
				<string>Disable discrete gpu</string>
				<key>Path</key>
				<string>SSDT-DDGPU.aml</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Comment</key>
				<string>Power fix - cause AppleACPIACAdapter to be loaded</string>
				<key>Path</key>
				<string>SSDT-ADP1.aml</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Comment</key>
				<string>LCD Backlight Control(pair with Rename BRT6 to BRTX)</string>
				<key>Path</key>
				<string>SSDT-PNLF_BRT6.aml</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Comment</key>
				<string>Add missing DMA Controller to the LPCB (Low Pin Count Bus)</string>
				<key>Path</key>
				<string>SSDT-DMAC.aml</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Comment</key>
				<string>SSDT HPET ?</string>
				<key>Path</key>
				<string>SSDT-HPET.aml</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Comment</key>
				<string>TPD0 and TPL1 are all I2C device in Dell XPS 9570</string>
				<key>Path</key>
				<string>SSDT-I2C.aml</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Comment</key>
				<string>SSDT LANC_PRW</string>
				<key>Path</key>
				<string>SSDT-LANC_PRW.aml</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Comment</key>
				<string>fix unsupported 8-series LPC devices</string>
				<key>Path</key>
				<string>SSDT-LPC.aml</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Comment</key>
				<string>adds the (potentially) missing Memory (DRAM) Controller to the system</string>
				<key>Path</key>
				<string>SSDT-MCHC.aml</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Comment</key>
				<string>inject USB extra power properties</string>
				<key>Path</key>
				<string>SSDT-XHC.aml</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Comment</key>
				<string>adds the (potentially) missing SMBUS</string>
				<key>Path</key>
				<string>SSDT-SMBUS.aml</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Comment</key>
				<string>Adds a totally defunct MEM2 device?</string>
				<key>Path</key>
				<string>SSDT-MEM2.aml</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Comment</key>
				<string>According to syscl, Apple expects this. Does nothing, doesn&apos;t hurt.</string>
				<key>Path</key>
				<string>SSDT-PMCR.aml</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Comment</key>
				<string>Adding PNLF device for backlight</string>
				<key>Path</key>
				<string>SSDT-PNLFCFL.aml</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Comment</key>
				<string>SSDT PPMC</string>
				<key>Path</key>
				<string>SSDT-PPMC.aml</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Comment</key>
				<string>SSDT RMCF</string>
				<key>Path</key>
				<string>SSDT-RMCF.aml</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Comment</key>
				<string>SSDT TB3 7590</string>
				<key>Path</key>
				<string>SSDT-TB3-7590.aml</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Comment</key>
				<string>SSDT TYPC 7590.aml</string>
				<key>Path</key>
				<string>SSDT-TYPC-7590.aml</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Comment</key>
				<string>customizations for USB</string>
				<key>Path</key>
				<string>SSDT-UIAC.aml</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Comment</key>
				<string>SSDT PTSWAK (pired with 2 patches)</string>
				<key>Path</key>
				<string>SSDT-PTSWAK.aml</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Comment</key>
				<string>SSDT CPU FRIEND DATA</string>
				<key>Path</key>
				<string>SSDT-CPU-FRIEND-DATA.aml</string>
			</dict>
		</array>
	</dict>
	<key>PlatformInfo</key>
	<dict>
		<key>Generic</key>
		<dict>
			<key>ROM</key>
			<data>745A9075EBE3</data>
			<key>SystemSerialNumber</key>
			<string>C02DNBYSMD6N</string>
			<key>AdviseWindows</key>
			<false/>
			<key>SystemProductName</key>
			<string>MacBookPro16,1</string>
			<key>SystemUUID</key>
			<string>DB9E95CC-7301-487B-946C-9D5500ADC9D0</string>
			<key>MLB</key>
			<string>C02045207J9N9PRJC</string>
			<key>SpoofVendor</key>
			<true/>
		</dict>
		<key>Automatic</key>
		<true/>
		<key>UpdateNVRAM</key>
		<true/>
		<key>UpdateSMBIOS</key>
		<true/>
		<key>UpdateDataHub</key>
		<true/>
		<key>UpdateSMBIOSMode</key>
		<string>Custom</string>
	</dict>
</dict>
</plist>
